ObjC/Demo/MSTEDemo/MSTEDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ObjC/Demo/MSTEDemo/MSTEDemo.xcodeproj/project.xcworkspace/xcshareddata/MSTEDemo.xccheckout
ObjC/Demo/MSTEDemo/MSTEDemo.xcodeproj/project.xcworkspace/xcuserdata/mcrosara.xcuserdatad/UserInterfaceState.xcuserstate
ObjC/Demo/MSTEDemo/MSTEDemo.xcodeproj/xcuserdata/mcrosara.xcuserdatad/xcschemes/MSTEDemo.xcscheme
ObjC/Demo/MSTEDemo/MSTEDemo.xcodeproj/xcuserdata/mcrosara.xcuserdatad/xcschemes/xcschememanagement.plist
ObjC/framework/MSTEncoder/MSTEncoder.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ObjC/framework/MSTEncoder/MSTEncoder.xcodeproj/project.xcworkspace/xcshareddata/MSTEncoder.xccheckout
ObjC/framework/MSTEncoder/MSTEncoder.xcodeproj/project.xcworkspace/xcuserdata/mcrosara.xcuserdatad/UserInterfaceState.xcuserstate
ObjC/framework/MSTEncoder/MSTEncoder.xcodeproj/xcuserdata/mcrosara.xcuserdatad/xcschemes/MSTEncoder.xcscheme
ObjC/framework/MSTEncoder/MSTEncoder.xcodeproj/xcuserdata/mcrosara.xcuserdatad/xcschemes/xcschememanagement.plist
